<h1 class="underline">Editing Mail ID Definition</h1>
<%= render 'form' %>
<%= link_to 'Show', @mail_id_definition, class: "btn btn-link ng-scope" %> |
<%= link_to 'Back', mail_id_definitions_path, class: "btn btn-link ng-scope" %>
