
<section id="home" class="section-home">
  <article class="center-align">
    <!-- <h3><span class="green">Mailtool</span> Demo Application</h3> -->
  </article>
</section>

<style type="text/css">
body{
  background: rgba(0, 0, 0, 0) url("/assets/home.jpg") no-repeat scroll center center / cover ;
}
.section-home {
  /*background: rgba(0, 0, 0, 0) url("/assets/home.jpg") no-repeat scroll center center / cover ;*/
  /*overflow: hidden;*/
  /*position: relative;*/
  /*text-align: center;*/
   /*margin-top: -50px;*/
  min-height: 650px;
  /*text-align: center;*/
  width: 100%;
}
/*article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}*/
.section-home article h3{
    color: #fff;
}
</style>