<h1>Editing Opportunity Generator</h1>

<%= render 'form' %>

<%= link_to 'Show', @opportunity_generator, class: "btn btn-link ng-scope"  %> |
<%= link_to 'Back', opportunity_generators_path, class: "btn btn-link ng-scope" %>
