<h1 class="underline">New Opportunity Generator</h1>
<%= render 'form' %>
<%= link_to 'Back', opportunity_generators_path, class: "btn btn-link ng-scope" %>
|
<%= link_to 'Import Excel', new_import_opportunity_generators_path, class: "btn btn-link ng-scope" %>
